# Default ignored files
/shelf/
/workspace.xml
D:\java\project\ua.com.javarush.november.Barisik.island\ua.com.javarush.november.BarisikValery.island\src\ua\com\Barysik\island\animals\PredatoryBush.java